@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DFEitech</h1>
    <p class="lead">ASP.NET Business Solutions on Demand.</p>
</div>

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("ListSubjects", "Subject"))
            { <input type="submit" class="btn btn-default btn-lg" value="Subjects &raquo;" /> }
            <br />        
    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("ListTeachers", "Teacher"))
            { <input type="submit" class="btn btn-default btn-lg" value="Teachers &raquo;" /> }
        <br />
    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("ListStudents", "Student"))
            { <input type="submit" class="btn btn-default btn-lg" value="Students &raquo;" /> }
        <br />
    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("ListWorkshops", "Workshop"))
            { <input type="submit" class="btn btn-default btn-lg" value="Workshops &raquo;" /> }
        <br />
    </div>
</div>