

<div class="row">
    <h2>Tool Students</h2>
    <div class="col-md-3">
        <label for="create">Create New Student</label>
        <form name="create" action="CreateStudent">
            <i>*Enter the name of the New Student.</i><br />
            <label for="fname">First Name</label>
            <input name="fname" type="text" />
            <label for="lname">Last Name</label>
            <input name="lname" type="text" />
            <input type="submit" class="btn btn-default" value="Create Student &raquo;" />
        </form>
    </div>


    <div class="col-md-3">
        <label for="update">Update Existing Student</label>
        <form name="update" action="UpdateStudent">
            <i>* select the ID of the Student to Edit. Then enter new details.</i><br />
            <label for="id">Student ID</label>
            <input name="id" type="text" /><br />

            <label for="fname">First Name</label>
            <input name="fname" type="text" />

            <label for="lname">Last Name</label>
            <input name="lname" type="text" />
            <input type="submit" class="btn btn-default" value="Update Student &raquo;" />
        </form>

    </div>


    <div class="col-md-3">
        <label for="delete">Delete Existing Student</label>
        <form name="delete" action="DeleteStudent">
            <label for="id">Student ID</label>
            <input name="id" type="text" /><br />
            <input type="submit" class="btn btn-default" value="Delete Student &raquo;" />
        </form>
    </div>

</div>


