@model DFEitechCollege.Models.Student
@{
    ViewBag.Title = "DeleteStudent";
}

<h2>Delete Student</h2>
<p>ID:  @Model.StudentId</p>
<p>First: @Model.FName</p>
<p>Last: @Model.LName</p>
<p>Has been permanently removed.</p>


