@model IEnumerable<DFEitechCollege.Models.Student>
@{
    ViewBag.Title = "ListStudents";
    WebGrid wg = new WebGrid(Model);
}

<div>
    <p>List Students</p>
    @wg.GetHtml(columns: new[]
{
    wg.Column("StudentId", header: "ID"),
    wg.Column("FName", header: "First Name"),
    wg.Column("LName", header: "Last Name")
})
</div>

<div>
    @Html.Partial("_ToolStudents")
</div>