@model DFEitechCollege.Models.Subject
@{
    ViewBag.Title = "DeleteSubject";
}

<h2>DeleteSubject</h2>
<p>ID:  @Model.SubjectId</p>
<p>Subject: @Model.SubjectName</p>
<p>Has been permanently removed.</p>

