@model DFEitechCollege.Models.Subject
@{
    ViewBag.Title = "DeleteSubject";
}

<h2>Deleted Subject:</h2>
<p>ID:  @Model.SubjectId</p>
<p>Subject: @Model.SubjectName</p>
<p>Has been permanently removed.</p>
<p>@using (Html.BeginForm("ListSubjects", "Subject"))
            { <input type="submit" class="btn btn-default" value="Return to Subjects &raquo;" /> }</p>
