@model IEnumerable<DFEitechCollege.Models.Subject>
@{
    ViewBag.Title = "ListSubjects";
    WebGrid wg = new WebGrid(Model);
}

<div>
    <p>List Subjects</p>
@wg.GetHtml(columns: new[]
{
    wg.Column("SubjectId", header: "ID"),
    wg.Column("SubjectName", header: "Name"),
    wg.Column("SubjectHigher", header: "Adv")
})
</div>

<div>
    @Html.Partial("_ToolSubjects")
</div>







