@model IEnumerable<DFEitechCollege.Models.Workshop>
@{
    ViewBag.Title = "ListWorkshops";
    WebGrid wg = new WebGrid(Model);
}

<div>
    All Workshops
    @wg.GetHtml(columns: new[]
{
    wg.Column("WorkshopId", header: "ID"),
    wg.Column("Course.SubjectName", header: "Subject"),
    wg.Column("Course.SubjectId", header: "Subject ID"),
    wg.Column("Year", header: "Year"),
    wg.Column("Teacher", format: (item) => item.Instructor.FName+ ' ' + item.Instructor.LName)
})

</div>

<div>
    @Html.Partial("_ToolWorkshops")
</div>