@model DFEitechCollege.Models.Teacher
@{
    ViewBag.Title = "CreateTeacher";
}

<h2>Create Teacher</h2>
<p>@Model.TeacherId</p>
<p>@Model.FName</p>
<p>@Model.LName</p>
@using (Html.BeginForm("ListTeachers", "Teacher"))
            { <input type="submit" class="btn btn-default" value="Return to Teachers &raquo;" /> }
