@model DFEitechCollege.Models.Teacher
@{
    ViewBag.Title = "DeleteTeacher";
}

<h2>Delete Teacher</h2>
<p>ID:  @Model.TeacherId</p>
<p>First: @Model.FName</p>
<p>Last: @Model.LName</p>
<p>Has been permanently removed.</p>
@using (Html.BeginForm("ListTeachers", "Teacher"))
            { <input type="submit" class="btn btn-default" value="Return to Teachers &raquo;" /> }
