@model List<DFEitechCollege.Models.Teacher>
@{
    ViewBag.Title = "ListTeachers";
    WebGrid wg = new WebGrid(Model);
}

<div>
    <p>List Teachers</p>
    @wg.GetHtml(columns: new[]
{
    wg.Column("TeacherId", header: "ID"),
    wg.Column("FName", header: "First Name"),
    wg.Column("LName", header: "Last Name")
})
</div>

<div>
    @Html.Partial("_ToolTeachers")
</div>